body {font-size:9pt; background: #D6E4EF; margin: 0px; padding: 0px;}
/* other */
img {border: none; vertical-align: middle;}

a:link{color: #0066cc; text-decoration: none;}
a:visited{color: #0066cc; text-decoration: none;}
a:hover {color: #333333; text-decoration: underline;}
a:active{color: #0066cc; text-decoration: underline;}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
  
}

img{
   border:0px;
   width:16px;
   height:16px;
}

#body{
   width:100%;
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
   border-left:1px #154B76 solid;
   border-right:1px #154B76 solid;
   background: #70A4CF;
   padding: 5px 5px 10px 5px;
}

#bottom{
   width:100%;
   height:55px;
}
/*
#bottom_left{
   float:left;
   width:45%;
   height:100%;
   background: url("menu_bottom_bg_left.png") no-repeat left top;
}
#bottom_center{
   float:left;
   height:100%;
   background: url("menu_bottom_bg_center.png") no-repeat center top;
}
#bottom_right{
   float:left;
   width:45%;
   height:100%;
   background: url("menu_bottom_bg_right.png") no-repeat right top;
}
*/
.L1 a:link, .L1 a:visited{
   color: #444659;
   font-size:9pt;
   display: block;
   text-decoration: none;
   height: 24px;
   line-height: 24px;
   background: url("menu1_bg.png") repeat-x;
}

.L1 a:link span, .L1 a:visited span{
  _background: url("ar.png") no-repeat left center;
  background: url("ar.png") no-repeat 0 -2px;
  _background-position: 0 5px;
  padding-left: 16px;
  height:24px;
  line-height:24px;
  _line-height:18px;
  vertical-align:middle;
  _padding:6px 0px 0px 16px;
  cursor:pointer;
  width:100%;
   
}
.L1 a:hover{
   color: #000000;
   font-weight:bold;
   background:  url("menu1_bg.png") repeat-x;
   background-position: 0 -24px;
}
/*  一级菜单 active 效果  */
.L1 a.active, .L1 a:hover.active, .L1 a:active.active, .L1 a:visited.active{
   background:  url("menu1_bg.png") repeat-x;
   background-position: 0 -24px;
}
.L1 a:link.active span, .L1 a:hover.active span, .L1 a:active.active span, .L1 a:visited.active span{
   color: #000000;
   font-weight:bold;
   background: url("arrow_d.png") no-repeat left;
   background-position: 0 -2px;
   _background-position: 0 5px;
}

.moduleContainer{display:none;background:#F8F9FE;border-bottom:1px #7D95A5 solid;padding: 5px;}
.moduleContainer .blank{line-height:30px;padding-left: 5px;}
.module {margin-bottom:10px;position:relative;}
.module .detail{position:absolute;top:3px;right:25px;z-index:100;cursor:pointer;}
.module .header:link,
.module .header:hover,
.module .header:active,
.module .header:visited
{padding-left: 5px;line-height:25px;font-weight:normal;border-top:0 none;background-image:none;}
.module .module_body{border:1px solid #D8D8FE;word-wrap:break-word;word-break:break-all;background-color:#FFFFFF;line-height:16px;padding:5px;}

a.page:link,
a.page:hover,
a.page:active,
a.page:visited{display:inline;background:none;text-decoration:underline;font-weight:normal;}

.module_icon{height:17px;width:17px;display:block;background:transparent url("/images/ipanel/t-1.jpg") no-repeat 0 0;margin:0px 3px;}
.ichat{background-position:0px -20px;text-indent:-9999em;float:right;};
.idetail{background-position:-20px -20px;text-indent:-9999em;float:right;};

.ichat_hover{background-position:0px 0px;text-indent:-9999em;float:right;};
.idetail_hover{background-position:-20px 0px;text-indent:-9999em;float:right;}

table .ntd{width:80px;height:17px;}
.ctable{font-size:9pt;}
.hr{border-bottom:1px dotted #6086D9;margin:8px 0px;}
.nspan{color:#d6790e;width:80px;height:17px;}
.titlespan{color:#5b80d0;font-style:normal;}