body{font-size:9pt;}
table.small{font-size:9pt;}
A:link { COLOR: #000000; TEXT-DECORATION: none;}
A:visited { COLOR: #000000; TEXT-DECORATION: none}
A:active  { COLOR: #000000; TEXT-DECORATION: none}
A:hover   { COLOR: #000000; TEXT-DECORATION: none}

.statusbar{ BACKGROUND: #b8d1e2; color:#000000; background-image:url("statusbar.png")}
#user_count1{padding:0px 5px;text-align:center;color:#0066cc;FONT-WEIGHT: bold;border:0;cursor:pointer}